.sidenav {
  background-color: #262338;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 5rem;
  height: 90%;
  box-shadow: 0.2rem 0 0.2rem 0 #8690a3;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}
.logo {
  background: #fff;
  align-items: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  cursor: pointer;
  border: none;
}
.logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.fa-solid {
  color: #fff;
  font-size: 24px;
}
.sidenav-collapsed {
  width: 16.5625rem;
}
.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100%-3.65rem);
  cursor: pointer;
}
.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}
.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  align-items: center;
  text-align: center;
}
.sidenav-link-text {
  margin-left: 1.5rem;
}
.sidenav-nav-link:hover {
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

.sidenav-nav-link:hover .sidenav-link-icon,
.sidenav-nav-link:hover .sidenav-link-text {
  color: black;
}
